<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Colaboracao 2018</a>
  </div>
  <!-- /.navbar-header -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="dashboard.html">
            <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-tasks fa-fw"></i> Disk Report
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <a href="report-disks.html">Disk Usage - Details</a>
            </li>
            <!--
            <li>
              <a href="report-disks-2.html">Disk Usage by Server</a>
            </li>
            -->
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-building fa-fw"></i> Domino Health
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <a href="domino-health-general.html">General Health</a>
            </li>
            <li>
              <a href="domino-health-mail.html">Mail Health</a>
            </li>
            <li>
              <a href="domino-health-cluster.html">Cluster Health</a>
            </li>
            <li>
              <a href="domino-health-http.html">HTTP Health</a>
            </li>
            <!--
            <li>
              <a href="health.html">Disk Health</a>
            </li>
            -->
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>